# project specific
*.env

### ! means NOT ###

/data/*

#temp dir
/tmp/*
!/tmp/README.txt

*.py[cod]
*.pyirc
__pycache__
dist/
build/*
!build/build.xml
*.egg-info
MANIFEST


.project
.pydevproject
.idea/

*.iml
.svn/

.DS_Store
*.swp
__MACOSX/

*.lock
